# Required:
  # Language version Python3.6+:
  # docker-compose file with PostgreSQL:
  
  # for auntification use following command
  # psql -h localhost -p 54320 -U admin -d sitemap_db
  # password=docker

# After installing python3.6+ and configure run docker-compose.yml 
# You can `pip install -r requirements.txt`
#### ESSENTIAL LIBRARIES FOR MAIN FUNCTIONALITY ####

# Python modules:

lxml == 4.5.0
urllib3 == 1.26.5
beautifulsoup4 ==4.8.2
requests ==2.23.0
psycopg2 ==2.8.4
PyYaml == 5.3
