# Library dependencies for the python code.  You need to install these with
# `pip install -r requirements.txt` before you can run this.

# Required:
  # Language version Python3.8:
  # sudo apt install python3.8
  # PostgreSQL:
  # wget -q https://www.postgresql.org/media/keys/ACCC4CF8.asc -O - | sudo apt-key add -
  # sudo apt install postgresql-12 postgresql-contrib-12
  # to create new user follow instruction
  # 1) sudo su - postgres | psql
  # 2) usernanme : createuser --interactive;
  # (Shall the new role be allowed to create databases? (y/n) n)
  # 3) create database test_db with owner=username;
  # 4) fulfill config_db with inforamtion
  
  # for auntification use following command
  # psql -h localhost test_db username

# After installing python3.8 and configure you Postgres database 
# You can `pip install -r requirements.txt`
#### ESSENTIAL LIBRARIES FOR MAIN FUNCTIONALITY ####

# Python modules:

lxml == 4.5.0
urllib3 == 1.25.8
beautifulsoup4 ==4.8.2
requests ==2.23.0
psycopg2 ==2.8.4
PyYaml == 5.3
